<!---------------------------------------BARRA DE NAVEGACIÓN-->
<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/inicio']"
        tooltip="Ir al inicio de TEConstruye"
      >
        <span> TEConstruye • </span>
        
      </a>
      <span>Administrador </span>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> TEConstruye• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">

        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
          <i class="tim-icons icon-single-02"> </i> nuevo usuario
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              [routerLink]="['/registroIng']"
            >
           <i class="tim-icons icon-bullet-list-67"> </i>Ingeniero
            </a>
            <a class="dropdown-item" [routerLink]="['/registroArq']">
              <i class="tim-icons icon-bullet-list-67"> </i> Arquitecto
            </a>
            <a class="dropdown-item" [routerLink]="['/registroEmp']">
                <i class="tim-icons icon-bullet-list-67"> </i> Empleado
              </a>
              <a class="dropdown-item" [routerLink]="['/registroCli']">
                <i class="tim-icons icon-bullet-list-67"> </i> Cliente
              </a>
            
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
        <div class="main">
<!---------------------------------------BODY---------------->
            <div class="container">
      
          <!----Seccion Añadir nuevo-->
          <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Añadir nuevo(a)</h3></div>
              <div class="row">
                <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                  <div class="mb-3">
                    
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-settings"> </i> Material
                          </ng-template>
                          
      
              <!--Formulario mini para material-->
       
                <div class="row">
                  <div class="col-sm-8 col-lg-3">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Nombre"
                        type="text"
                        id="material_nombre"
                        value=""
                      />
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-8 col-lg-3">
                        <div class="form-group">
                          <input
                            class="form-control"
                            placeholder="Codigo"
                            type="text"
                            id="material_codigo"
                            value=""
                          />
                        </div>
                      </div>
                 
                  <!--caja de texto precio unitario-->
                  <div class="col-sm-8 col-lg-3">
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="Precio unitario"
                        id="material_precio_unitario"
                        type="number"
                      />
      
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="tim-icons icon-coins"> </i>
                        </span>
                      </div>
                    </div>
                  </div>
               
                  <!--Termina caja de texto precio unitario-->
                  <!--Botón de guardar material-->
                  
                <div class="col-sm-6 col-lg-3">
                    <button class="btn btn-primary btn-sm mr-1 mb-3" (click) = "add_material()">Agregar</button>
                   </div>
                  <!--Termina botón de guardar material-->
                </div>
                </div>
      
              <!----Fin formulario mini -->
                
                        </tab>
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-components"> </i> Etapa
                          </ng-template>
      
                <!--Formulario mini etapa-->
                <!--Caja de texto Nombre-->
                <div class="row">
                <div class="col-sm-6 col-lg-3">
                  <div class="input-group">
                    <input
                      id="etapa_nombre"
                      class="form-control"
                      placeholder="Nombre"
                      type="text"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        
                      </span>
                    </div>
                  </div>
                </div>
      
                    <!--Caja de texto descripción-->
                    <div class="col-sm-6 col-lg-3">
                      <div class="input-group">
                        <input
                        id = "etapa_descripcion" 
                          class="form-control"
                          placeholder="Descripción"
                          type="text"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="tim-icons icon-paper"> </i>
                          </span>
                        </div>
                      </div>
                    </div>
                   

                     <!--Botón de guardar material-->
                     <div class="col-sm-6 col-lg-3">
                     <button class="btn btn-primary btn-sm mr-1 mb-3" (click) ="add_etapa()">Agregar</button>
                    </div>
                    </div>
               
        
                <!----Fin formulario mini-->
                        
                        </tab>
                      </tabset>
                    </div>
                  </div>
                </div>
              </div>
      
              <!----Seccion Asignar -->
          <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Asignar</h3></div>
              <div class="row">
                <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                  <div class="mb-3">
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-settings"> </i> Horas
                          </ng-template>
                          
      
              <!--Formulario mini para asignar horas-->
              <div class="row">
                
               <!--Dropdown empleados-->
               <div class="col-sm-6 col-lg-3">
                  <div class="col-sm-6 col-lg-3">
                      <div
                      class="input-group " 
                    >
                       <div class="" >
                        <label style="width: 5cm;" for="inputState">Empleado</label>
                        <select id="emp1" class="  dropdown-item text-muted"
                        ng-click = "getEmpleados()">
                        <option  *ngFor="let empleado of empleados"  > {{empleado.cedula}}</option></select>
                           
                      </div>
                    </div>
                 </div>
               </div>
      
                    <!--Dropdown proyecto-->

                    <div class="col-sm-6 col-lg-3">
                        <div
                        class="input-group " 
                      >
                         <div >
                          <label style="width: 5cm;" for="inputState">Proyecto</label>
                          <select id="proy1" class="  dropdown-item text-muted"
                          >
                          <option  *ngFor="let obra of obras"  > {{obra.nombre_obra}}</option></select>
                             
                        </div>
                      </div>
                   </div>
                    <!--input horas-->
                    <div class="col-sm-8 col-lg-3">
                        <div class="input-group">
                          <input
                            class="form-control"
                            placeholder="Horas"
                            id="horas3"
                            type="number"
                          />
          
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="tim-icons icon-coins"> </i>
                            </span>
                          </div>
                        </div>
                      </div>     
                      <div class="col-sm-8 col-lg-3">
                          <div class="input-group">
                            <input
                              class="form-control"
                              placeholder="Semana"
                              id="semanas3"
                              type="number"
                            />
            
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="tim-icons icon-coins"> </i>
                              </span>
                            </div>
                          </div>
                        </div>            
                  <!--Botón de asignar empleado-->
                  <div class="col-sm-6 col-lg-3">
                  <button (click)="AsignarHoras()" class="btn btn-primary btn-sm mr-1  mb-3">Asignar</button>
                </div>
              </div>
              <!----Fin formulario mini -->
                
                        </tab>
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-components"> </i> Gastos
                          </ng-template>
                    
                       
                          <div class="row row-grid justify-content-between align-items-center">
                              <div class="card card-register">
                            <div class="col-lg-12 mb-lg-auto">
                                
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="Proveedor"
                                        id="proveedor"
                                        type="text"
                                      />
                                      <div class="input-group-append">
                                        <span class="input-group-text">
                                          
                                        </span>
                                      </div>
                                    </div>
                                 
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="nùmero de la factura"
                                        type="number"
                                        id="numero_factura"
                                      />
                                      <div class="input-group-append">
                                        <span class="input-group-text">
                                          
                                        </span>
                    
                                    </div>
                                  </div>
                                  <p>Foto de la factura</p>
                                  <div class="input-group">
            
                                      
                                      <input
                                        accept="image/*"
                                       (change)="changeListener($event)"
                                        class="form-control"
                                        id="foto"
                                        type="file"
                                      />

                                      <div class="input-group-append">
                                        <span class="input-group-text">
                                          <i class="tim-icons icon-paper"> </i>
                                        </span>
                                      </div>
                                    </div>
                                  <div class="mt-4">
                                      <p class="mb-2">Materiales</p>
                                  <table class="">
                                      <thead>
                                        <tr>
                                          <th scope="col" class="mr-2"></th>
                                          <th scope="col" class="mr-4"></th>
                                          <th scope="col"></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor = "let material of materiales;index as i"  >
                                          <td >{{material.nombre}}</td>
                                          <td ><span class=" ml-4 md-4"></span><input id="inp1"placeholder="cant" type="number" ></td>
                                          <td ><span class="table-remove ml-4 md-4">
                                  
                                              <button type="button" style="color:chocolate" class="btn btn-rounded btn-sm my-0 " (click) = "agregar(material)">✓</button>
                                              
                                          </span></td>
                                        </tr>
                                      </tbody>
                                    </table>
            
                                    <button (click)="agregar_gastos()"class="btn btn-primary btn-sm mr-1 mb-3 mt-4">Agregar</button>
                                  </div>
                                  </div>
                          </div>
                      </div>
        
                <!----Fin formulario mini-->
                        
                        </tab>
                      </tabset>
                    </div>
                  
                </div>
              </div>

<!----Seccion Publicar-->
          <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Publicar en TECres</h3></div>
              <div class="row">
                  <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                      <div class="mb-3">
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">
              <!--Formulario mini para asignar horas-->
              <div class="row">
                     <!--Dropdown proyecto-->
                     <div class="col-lg-6">
                        <div class="col-sm-6 col-lg-3">
                            <div
                            class="input-group " 
                          >
                             <div class="" >
                              <label style="width: 5cm;" for="inputState">Proyecto</label>
                              <select id="proy2" class="  dropdown-item text-muted"
                              (change) = "getEtapas()">
                              <option  *ngFor="let obra of obras"  > {{obra.nombre_obra}}</option></select>
                                 
                            </div>
                          </div>
                       </div>
                 </div>
                   <!--Botón de asignar empleado-->
                   <div class="col-lg-3">
                   <button (click)= "add_publicarProy()" class="btn btn-primary btn-sm mr-1  mb-3">Publicar</button>
                 </div>
               </div> 
              
                      </tabset>
                    </div>
                  </div>
                </div>
              </div>
      
 <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Generar</h3></div>
              <div class="row">
                <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                  <div class="mb-3">
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">
      
                        <!--Botón Presupuesto-->
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-money-coins"> </i> Presupuesto
                          </ng-template>
                          
      
              <!--Formulario mini para asignar horas-->
              <div class="row">
                
               <!--Dropdown empleados-->
               <div class="col-lg-6">
                  <div class="col-sm-6 col-lg-3">
                      <div
                      class="input-group " 
                    >
                       <div class="" >
                        <label style="width: 5cm;" for="inputState">Proyecto</label>
                        <select id="proy2" class="  dropdown-item text-muted"
                        id="proy4"
                        (change) = "getEtapas()">
                        <option  *ngFor="let obra of obras"  > {{obra.nombre_obra}}</option></select>
                            
                      </div>
                    </div>
                 </div>
                 <div id="label1" class="alert alert-dark" role="alert">
              $ 0
            </div> 
           </div>
                         
                  <!--Botón de asignar empleado-->
                  <div class="col-sm-6 col-lg-3">
                  <button (click)="get_presupuesto()"class="btn btn-primary btn-sm mr-1  mb-3">Generar</button>
                </div>
              </div>
             
                
                        </tab>

                      </tabset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </div>







          <!--Sección de Reportes a-->
           <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Reportes</h3></div>
              <div class="row">
                <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                  <div class="mb-3">
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">
      
                        <!--Botón Presupuesto-->
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-money-coins"> </i> Presupuesto
                          </ng-template>
                          
      
              <!--Formulario mini para asignar horas-->
              <div class="row">
                
                  <!--Botón de generar Presupuesto-->
                  
                  <div class="col-sm-6 col-lg-3">
                  <button class="btn btn-primary btn-sm mr-1  mb-3" (click) = "generarReportePresupuesto()">Generar Reporte</button>
                </div>
              </div>

                        </tab>
      
                      <!---------------Botón Planilla-->
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-components"> Planilla</i> 
                          </ng-template>
      
                <!--Formulario planilla-->
                <!--Caja de texto Nombre-->
                <div class="row">
                
      
                    
                   
                   
      
                     <!--Botón de guardar material-->
                     <div class="col-sm-6 col-lg-3">
                     <button class="btn btn-primary btn-sm mr-1 mb-3" (click) = "generarPlanillas()">Generar Planilla</button>
                    </div>
                    </div>
               
        
                <!----Fin formulario mini-->
                        
                        </tab>
      
                        <!--Botón de reporte gastos-->
                        <tab>
                            <ng-template tabHeading>
                              <i class="tim-icons icon-money-coins"> </i> Gastos
                            </ng-template>
                            
        
                <!--Formulario mini para asignar horas-->
                <div class="row">
                         
                 
                    <!--Botón de asignar empleado-->
                    
                    <div class="col-sm-6 col-lg-3">
                    <button class="btn btn-primary btn-sm mr-1  mb-3" (click) = "generarGastos()">Generar Reporte Gastos</button>
                  </div>
                </div>
                <!----Fin formulario mini -->
                  
                          </tab>
      
                  <!--Botón reporte estado-->
                  <tab>
                      <ng-template tabHeading>
                        <i class="tim-icons icon-sound-wave"> </i> Estado
                      </ng-template>
                      
      
          <!--Formulario mini para asignar horas-->
          <div class="row">
            
           <!--Dropdown empleados-->
           <div class="col-sm-6 col-lg-3">
                <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                
                 <div class="dropdown nav-item" dropdown>
                  <a
                    class="dropdown-toggle nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    dropdownToggle
                    href="javascript:void(0)"
                  >
                  <i class="tim-icons icon-single-02"> </i> Empleado
                  </a>
                  <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                    <a class="dropdown-item"
                    *ngFor="let fase of fases, index as i" > {{fases[i]}}</a>            
                  </div>
                </div>
              </div>
           </div>
      
                <!--Dropdown proyecto-->
                <div class="col-sm-6 col-lg-3">
                <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                
                 <div class="dropdown nav-item" dropdown>
                  <a
                    class="dropdown-toggle nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    dropdownToggle
                    href="javascript:void(0)"
                  >
                  <i class="tim-icons icon-single-copy-04"> </i> Proyecto
                  </a>
                  <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                    <a class="dropdown-item"
                    *ngFor="let fase of fases, index as i" > {{fases[i]}}</a>            
                  </div>
                </div>
              </div>
            </div>
           
              <!--Botón de asignar empleado-->
              
              <div class="col-sm-6 col-lg-3">
              <button class="btn btn-primary btn-sm mr-1  mb-3">Asignar</button>
            </div>
          </div>
          <!----Fin formulario mini -->
            
                    </tab>
                      </tabset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>
          </div>
          </div>
            </div>
          </div>
            </div>
          </div>
            </div>
          </div>
 <!---------------------------------------FOOTER------------->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">TEConstruye•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
               Contáctenos
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
