<!---------------------------------------BARRA DE NAVEGACIÓN-->
<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/inicio']"
        tooltip="Ir al inicio de TEConstruye"
      >
        <span> TEConstruye • </span>
      </a>
      <span>{{tipo}}</span>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> TEConstruye•Ingeniero/arquitecto </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">

      </ul>
    </div>
  </div>
</nav>


<div class="wrapper">
        <div class="main">
         
<!---------------------------------------BODY---------------->


      
          <!----Seccion Añadir nuevo-->
          <div class="section section-tabs">
              <div class="container">
                <div class="title"><h3 class="mb-3">Añadir nuevo(a)</h3></div>
                <div class="row">
                  <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                    <div class="card">
                      <div class="card-header">
                        <tabset class="nav-tabs-danger">
                          <tab>
                            <ng-template tabHeading>
                              <i class="tim-icons icon-settings"> </i> Obra
                            </ng-template>
                            
        
                <!--Formulario Obra-->
                <!--Caja de texto nombre-->
                  <div class="row">
                    <div class="col-sm-8 col-lg-3">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="Nombre"
                          id="nombre_obra"
                          type="text"
                          value=""
                        />
                      </div>
                         <!--Caja de texto habitaciones-->
                      <div class="input-group">
                          <input
                            class="form-control"
                            placeholder="Habitaciones"
                            type="number"
                            id="habitaciones_obra"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                            </span>
                          </div>
                        </div>
                          <!--Caja de texto baños-->
                        <div class="input-group">
                            <input
                              class="form-control"
                              placeholder="Baños"
                              type="number"
                              id="banos_obra"
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">
                              </span>
                            </div>
                          </div>
                           <!--Caja de texto pisos-->
                          <div class="input-group">
                              <input
                                class="form-control"
                                placeholder="Plantas"
                                type="number"
                                id="plantas_obra"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text">
                                </span>
                              </div>
                            </div>

                            <!--Caja de texto m construccion-->
                            <div class="input-group">
                                <input
                                  class="form-control"
                                  placeholder="Metros const."
                                  type="number"
                                  id="cons_obra"
                                />
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                  </span>
                                </div>
                              </div>

                               <!--Caja de texto m lote-->

                               <div class="input-group">
                                  <input
                                    class="form-control"
                                    placeholder="Metros lote"
                                    type="number"
                                    id="lote_obra"
                                  />
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                    </span>
                                  </div>
                                </div>

                                <div class="" >
                                    <label style="width: 5cm;" for="inputState">Cliente</label>
                                    <select id="cliente_obra"
                                            class="  dropdown-item text-muted"
                                  
                                    >
                                    <option  *ngFor="let cliente of clientes"  > {{cliente.cedula}}</option></select>
                                       
                                  </div>
                    </div>
                    <!--Dropdown ubicacion Provincia-->
                     <div class="col-sm-3 col-lg-3">
                        
                            <div
                            class="input-group " 
                          >
                             <div class="" >
                              <label style="width: 5cm;" for="inputState">Provincia</label>
                              <select id="emp13" 
                                      class="  dropdown-item text-muted"
                                      [(ngModel)]="ubicacion.provincia"
                                      (change)="getCantones(ubicacion.provincia);getDistritos();">
                              <option  *ngFor="let provincia of provincias"  > {{provincia.provincia}}</option></select>
                                 
                            </div>

                            <!--Dropdown cantón-->
 
                            <div
                            class="input-group " 
                          >
                             <div class="" >
                              <label style="width: 5cm;" for="inputState">Cantón</label>
                              <select id="emp12"
                                      class="  dropdown-item text-muted"
                                      [(ngModel)]="ubicacion.canton"
                                      (change)="getDistritos(ubicacion.provincia,ubicacion.canton );"
                              >
                              <option  *ngFor="let canton of cantones"  > {{canton.canton}}</option></select>
                                 
                            </div>
                          </div>
                          </div>
                      
                      <!--Dropdown distrito-->
                            <div
                            class="input-group " 
                          >
                             <div class="" >
                              <label style="width: 5cm;" for="inputState">Distrito</label>
                              <select id="ubicacion_obra" class="  dropdown-item text-muted"
                             >
                              <option  *ngFor="let distrito of distritos"  > {{distrito.distrito}}</option></select>
                                 
                            </div>
                          </div>
                     
                     
                     </div>
                    

                    <!--Tabla ingenieros-->
                    <div class="col-sm-6 col-lg-3">
                    <div class="mt-4">
                        <p class="mb-2">Ingenieros a cargo:</p>
                    <table class="">
                        <thead>
                          <tr>
                            <th scope="col" class="mr-2"></th>
                            <th scope="col" class="mr-4"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let ingeniero of ingenieros;index as i"  >
                            <td >{{ingeniero.codigo_ingeniero}}</td>
                            <td ><span class="table-remove ml-4 md-4">
                                <button type="button" style="color:crimson" class="btn btn-rounded btn-sm my-0 " (click) = "agregarIng(ingeniero.codigo_ingeniero)">✓</button>
                            </span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                    <!--Tabla arquitectos-->
                    <div class="col-sm-6 col-lg-3">
                    <div class="mt-4">
                        <p class="mb-2">Arquitectos a cargo</p>
                    <table class="">
                        <thead>
                          <tr>
                            <th scope="col" class="mr-2"></th>
                            <th scope="col" class="mr-4"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let arquitecto of arquitectos ;index as i"  >
                            <td >{{arquitecto.codigo_arquitecto}}</td>                          
                            <td >
                                <button type="button" style="color: crimson" class="btn btn-rounded btn-sm my-0 " (click) = "agregarArq(arquitecto.codigo_arquitecto)">✓</button>
                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>

                    
                   
                 
                    <!--Termina caja de texto precio unitario-->
                   
                  </div>
                   <!--Botón de guardar material-->
                   <div class="col-sm-6 col-lg-3">
                      <button class="btn btn-primary btn-sm mr-1 mt-4  mb-3" (click) = "addNuevaObra()">Agregar</button>
                    </div>
                      <!--Termina botón de guardar material-->
        
                <!----Fin formulario mini -->
                  
                          </tab>
                          <tab>
                            <ng-template tabHeading>
                              <i class="tim-icons icon-components"> </i> Etapa
                            </ng-template>
        
                  <!--Formulario mini etapa-->
                  <!--Caja de texto Nombre-->
                  <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="input-group">
                      <input
                        id = "etapa_nombre"
                        class="form-control"
                        placeholder="Nombre"
                        type="text"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          
                        </span>
                      </div>
                    </div>
                  </div>
        
                      <!--Caja de texto descripción-->
                      <div class="col-sm-6 col-lg-3">
                        <div class="input-group">
                          <input
                            id = "etapa_descripcion"
                            class="form-control"
                            placeholder="Descripción"
                            type="text"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="tim-icons icon-paper"> </i>
                            </span>
                          </div>
                        </div>
                      </div>                    
                      
        
                       <!--Botón de guardar atapa-->
                       <div class="col-sm-6 col-lg-3">
                       <button class="btn btn-primary btn-sm mr-1 mb-3" (click) = "add_etapa()">Agregar</button>
                      </div>
                      </div>
                 
          
                  <!----Fin formulario mini-->
                          
                          </tab>
                        </tabset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <!----Seccion Asignar -->
          <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Asignar</h3></div>
              <div class="row">
                <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                  <div class="mb-3">
                   
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">

                        <!--Asignar Horas-->
                          <tab>
                              <ng-template tabHeading>
                                <i class="tim-icons icon-settings"> </i> Horas
                              </ng-template>
                              
          
                  <!--Formulario mini para asignar horas-->
                  <div class="row">
                    
                   <!--Dropdown empleados-->
                   <div class="col-sm-6 col-lg-3">
                      <div class="col-sm-6 col-lg-3">
                          <div
                          class="input-group " 
                        >
                           <div class="" >
                            <label style="width: 5cm;" for="inputState">Empleado</label>
                            <select id="emp1" class="  dropdown-item text-muted"
                            ng-click = "getEmpleados()">
                            <option  *ngFor="let empleado of empleados"  > {{empleado.cedula}}</option></select>
                               
                          </div>
                        </div>
                     </div>
                   </div>
          
                        <!--Dropdown proyecto-->
    
                        <div class="col-sm-6 col-lg-3">
                            <div
                            class="input-group " 
                          >
                             <div >
                              <label style="width: 5cm;" for="inputState">Proyecto</label>
                              <select id="proy1" class="  dropdown-item text-muted"
                              (change) = "getEtapas()">
                              <option  *ngFor="let obra of obras"  > {{obra.nombre_obra}}</option></select>
                                 
                            </div>
                          </div>
                       </div>
                        <!--input horas-->
                        <div class="col-sm-8 col-lg-3">
                            <div class="input-group">
                              <input
                                class="form-control"
                                placeholder="Horas"
                                id="horas3"
                                type="number"
                              />
              
                              <div class="input-group-append">
                                <span class="input-group-text">
                                  <i class="tim-icons icon-coins"> </i>
                                </span>
                              </div>
                            </div>
                          </div>     
                          <div class="col-sm-8 col-lg-3">
                              <div class="input-group">
                                <input
                                  class="form-control"
                                  placeholder="Semana"
                                  id="semanas3"
                                  type="number"
                                />
                
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    <i class="tim-icons icon-coins"> </i>
                                  </span>
                                </div>
                              </div>
                            </div>            
                      <!--Botón de asignar empleado-->
                      <div class="col-sm-6 col-lg-3">
                      <button (click)="AsignarHoras()" class="btn btn-primary btn-sm mr-1  mb-3">Asignar</button>
                    </div>
                  </div>
                  <!----Fin formulario mini -->
                    
                            </tab>
                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-components"> </i> Materiales
                          </ng-template>
      
                <!--Formulario mini etapa-->
                <!--Caja de texto Nombre-->
                <div class="row">
                    <!--Dropdown de Proyecto-->
                    <div class="col-sm-6 col-lg-3">
                        <div
                        class="input-group " 
                      >
                         <div class="" >
                            <label style="width: 5cm;" for="inputState">Proyecto</label>
                          <select class="dropdown-item text-muted"
                          id = "proyecto_nombreGastos"
                          (change) = "getEtapasProyecto()"
                          >
                          <option  *ngFor="let proyecto of proyectos"  > {{proyecto.nombre_obra}}</option></select>
                             
                        </div>
                      </div>
                   </div>
                      <!--Dropdown de Etapa-->
                      <div class="col-sm-6 col-lg-3">
                          <div
                          class="input-group " 
                        >
                           <div class="" >
                              <label style="width: 5cm;" for="inputState">Etapa</label>
                            <select class="dropdown-item text-muted"
                            id = "etapa_anadirMat"
                            >
                            <option  *ngFor="let etapa of etapasPNames"> {{etapa}}</option></select>    
                          </div>
                        </div>
                     </div> 

                     <div class="col-sm-6 col-lg-3">
                        <div
                        class="input-group " 
                      >
                         <div class="" >
                            <label style="width: 5cm;" for="inputState">Materiales</label>
                          <select class="dropdown-item text-muted"
                          id = "material_etapa"
                          
                          
                          >
                          <option  *ngFor="let material of materiales"> {{material.nombre}}</option></select>
                             
                        </div>
                      </div>
                   </div> 
                   
                   <div>
                      <label style="width: 3cm;" for="inputState">Cantidad</label>
                      <input type="number" id = "cantidad_mats" style="width: 2cm">
                    </div>
      
                     <!--Botón de guardar material-->
                     <div class="col-sm-6 col-lg-3"> 
                     <button class="btn btn-primary btn-sm mr-1 mb-3" (click) = "addMatEtapa()">Agregar</button>
                    </div>
                    </div>
               
        
                <!----Fin formulario mini-->
                        
                        </tab>

                        <tab>
                          <ng-template tabHeading>
                            <i class="tim-icons icon-components"> </i> Etapa
                          </ng-template>
      
                <!--Formulario mini etapa-->
                <!--Caja de texto Nombre-->
                <div class="row">
                    
                    <!--Dropdown de Proyecto-->
                    <div class="col-sm-6 col-lg-3">
                      <div
                      class="input-group " 
                    >
                       <div class="" >
                          <label style="width: 5cm;" for="inputState">Proyecto</label>
                        <select class="dropdown-item text-muted"
                        id = "proyecto_nombre"
                        >
                        <option  *ngFor="let proyecto of proyectos"  > {{proyecto.nombre_obra}}</option></select>
                           
                      </div>
                    </div>
                 </div>
                    <!--Dropdown de Etapa-->
                    <div class="col-sm-6 col-lg-3">
                        <div
                        class="input-group " 
                      >
                         <div class="" >
                            <label style="width: 5cm;" for="inputState">Etapa</label>
                          <select class="dropdown-item text-muted"
                          id = "etapa_anadir"
                          >
                          <option  *ngFor="let etapa of etapas"  > {{etapa.nombre}}</option></select>
                             
                        </div>
                      </div>
                   </div>

                      <div><label style="width: 5cm;" ></label></div>
                      <div><label style="width: 5cm;" ></label></div>
                      <div><label style="width: 4cm;" ></label></div>
                      
                      
                   <div>
                    <label style="width: 5cm;" for="inputState">Fecha de Inicio</label>
                    <input type="date" id = "fecha_inicio" style="width: 3.5cm;">
                   </div>

                   <div><label style="width: 5cm;" ></label></div>

                   <div>
                    <label style="width: 5cm;" for="inputState">Fecha de Finalización</label>
                    <input type="date" id = "fecha_fin" style="width: 3.5cm;">
                   </div>
                   
      
                     <!--Botón de guardar material-->
                     <div class="col-sm-6 col-lg-3">
                     <button class="btn btn-primary btn-sm mr-1 mb-3" (click) = "etapaObraJSON()">Agregar</button>
                    </div>
                  
                    
          
                  </div>
               
        
                <!----Fin formulario mini-->
                        
                        </tab>


                      </tabset>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>

          <!----Seccion Publicar-->
          <div class="section section-tabs">
            <div class="container">
              <div class="title"><h3 class="mb-3">Publicar en TECres</h3></div>
              <div class="row">
                  <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                      <div class="mb-3">
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <tabset class="nav-tabs-danger">
              <!--Formulario mini para asignar horas-->
              <div class="row">
                
               
       
                     <!--Dropdown proyecto-->
                     <div class="col-lg-3">
                     <div
                     class="input-group"
                     [ngClass]="{ 'input-group-focus': focus1 === true }"
                   >
                     
                      <div class="dropdown nav-item" dropdown>
                       <a
                         class="dropdown-toggle nav-link dropdown-toggle"
                         data-toggle="dropdown"
                         dropdownToggle
                         href="javascript:void(0)"
                       >
                       <i class="tim-icons icon-single-copy-04"> </i> Proyecto
                       </a>
                       <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
                         <a class="dropdown-item"
                         *ngFor="let fase of fases, index as i" > {{fases[i]}}</a>            
                       </div>
                     </div>
                   </div>
                 </div>
                   <!--Botón de asignar empleado-->
                   <div class="col-lg-3">
                   <button class="btn btn-primary btn-sm mr-1  mb-3">Publicar</button>
                 </div>
               </div>
                        
                       
                      </tabset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

           </div>

 <!---------------------------------------FOOTER------------->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">TEConstruye•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
               Contáctenos
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
